.footer {
    background-color: #c8102e; /* Vermelho do McDonald's */
    color: #fff !important;
    padding: 40px 0;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: white;
}
.footer {
    background: linear-gradient(135deg, #c8102e, #ffcc00);
}

.card {
    background: linear-gradient(135deg, #c8102e, #ffcc00);
    border: none;
    color: #fff;
    margin: 20px;
    transition: transform 0.2s;
    overflow: hidden;
    border-radius: 50px !important;
    border: 0 !important;
}
.card:hover {
    transform: scale(1.05);
}
.card-img-top {
    transition: transform 0.5s ease;
}
.card:hover .card-img-top {
    transform: scale(1.1);
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.card-text {
    font-size: 1rem;
}
.price {
    font-size: 1.25rem;
    font-weight: bold;
}
.btn-custom {
    background-color: #ffcc00; /* Amarelo do McDonald's */
    color: #c8102e; /* Vermelho do McDonald's */
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-custom:hover {
    background-color: #c8102e;
    color: #ffcc00;
    transform: scale(1.05);
}

/* Header */
.navbar {
    background-color: #c8102fe3;
}
.navbar-brand {
    font-size: 40px !important;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.navbar-brand, .nav-link {
    color: #ffcc00 !important; /* Amarelo do McDonald's */
}
/* Estilo para o hover */
.nav-link:hover, .navbar-brand:hover {
    color: #fff !important;
}

/* Titulo Animado */
.animate {
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
